.container {
  display: flex;
  flex-direction: row;
}

.panel {
  flex: 1;
}

.left-panel {
  margin-right: 10px; /* Adjust as needed */
}

.right-panel {
  flex: 0 0 35%; /* Set the right panel to take 30% of the available space */
  margin-left: 10px; /* Adjust as needed */
}

.top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.top-panel > * {
  margin-right: 10px; /* Adjust as needed */
}